<p>
	<a href="witaj?id=2&strona=3">Link do strony <b>witaj</b> z HTML</a>
</p>

<p>
	<%= link_to('Link do strony witaj z RoR', {:action=>'witaj', :id=>2, :strona=>3, :user=>'Mirek'}) %>
</p>

<p>
	<%= link_to('Link do strony index z RoR', {:action=>'index', :id=>6, :strona=>9, :user=>'Kasia'}) %>
</p>